<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flower</title>
    <link th:rel="stylesheet" th:href="@{static}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link th:rel="stylesheet" th:href="@{static}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!--        side bar-->
<!--        <div th:replace="~{fragments/sidebar :: sidebar}"></div>-->
        <!--        Main content-->
        <div class = "col">
            <!--        search bar-->
<!--            <div th:replace="~{fragments/searchbar :: searchbar}"></div>-->
            <div class="row mt-4">
                <div class="col-md-7">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>FID</th>
                            <th>FName</th>
                            <th>Price</th>
                            <th>How to plant</th>
                            <th>Take care</th>
                            <th>Time</th>
                            <th>Harvest</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody id="orderTable">
                        <!-- Sample rows for demonstration -->
                        <tr th:each="flower : ${flowers}">
                            <td th:text="${flower.getId()}"></td>
                            <td th:text="${flower.getFID()}"></td>
                            <td th:text="${flower.getFName()}"></td>
                            <td style="text-align: right" th:text="${#numbers.formatDecimal(flower.getPrice(), 1, 'COMMA', 2, 'POINT')}"> </td>
                            <td th:text="${flower.getHow_to_plant()}"></td>
                            <td th:text="${flower.getHow_to_take_care()}"></td>
                            <td th:text="${flower.getTime()}"></td>
                            <td th:text="${flower.getHow_to_harvest()}"></td>
                            <td><a th:href="@{'/flower/' + ${flower.getFID()}}">Edit</a></td>
                        </tr>
                        <!-- Add more rows as needed -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <a th:href="@{/flower/create}" class="btn btn-primary">Add Flower</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>