<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Flower Detail</title>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>

<h1>แก้ไขข้อมูลดอกไม้</h1>

<form th:if="${flower.getFID()}" th:action="@{'/flower/' + ${flower.getFID()}}" th:method="PUT" th:object="${flower}" >
    <div class="mb-3">
        <label for="inputFNAME">FNAME (ชื่อดอกไม้)</label>
        <input id="inputFNAME" type="text" class="form-control" th:field="*{FName}"
               name="FName">
    </div>
    <div class="mb-3">
        <label for="inputPrice">Price</label>
        <input id="inputPrice" type="number" class="form-control" th:field="*{price}"
               name="Price">
    </div>
    <div class="mb-3">
        <label for="inputHowToPlant">How to plant</label>
        <textarea id="inputHowToPlant" type="text" class="form-control" th:field="*{how_to_plant}"
                  name="how_to_plant"> </textarea>
    </div>
    <div class="mb-3">
        <label for="inputHowToTakeCare">Take care</label>
        <textarea id="inputHowToTakeCare" type="text" class="form-control" th:field="*{how_to_take_care}"
                  name="how_to_take_care"> </textarea>
    </div>
    <div class="mb-3">
        <label for="inputTime">Time</label>
        <input id="inputTime" type="number" class="form-control" th:field="*{time}"
               name="Time">
    </div>
    <div class="mb-3">
        <label for="inputHowToHarvest">Harvest</label>
        <input id="inputHowToHarvest" type="number" class="form-control" th:field="*{how_to_harvest}"
               name="how_to_harvest">
    </div>
    <button th:text="${flower.getFID()} ? 'Update' : 'Save'" id="submit-button" type="submit" ></button>
</form>

<h1>เพิ่มดอกไม้</h1>

<form th:unless="${flower.getFID()}" th:action="@{/flower}" th:method="POST" th:object="${flower}">
    <div class="mb-3">
        <label for="inputFNAME2">FNAME (ชื่อดอกไม้)</label>
        <input id="inputFNAME2" type="text" class="form-control" th:field="*{FName}"
               name="FName">
    </div>
    <div class="mb-3">
        <label for="inputPrice2">Price</label>
        <input id="inputPrice2" type="number" class="form-control" th:field="*{price}"
               name="Price">
    </div>
    <div class="mb-3">
        <label for="inputHowToPlant2">How to plant</label>
        <textarea id="inputHowToPlant2" type="text" class="form-control" th:field="*{how_to_plant}"
                  name="how_to_plant"> </textarea>
    </div>
    <div class="mb-3">
        <label for="inputHowToTakeCare2">Take care</label>
        <textarea id="inputHowToTakeCare2" type="text" class="form-control" th:field="*{how_to_take_care}"
                  name="how_to_take_care"> </textarea>
    </div>
    <div class="mb-3">
        <label for="inputTime2">Time</label>
        <input id="inputTime2" type="number" class="form-control" th:field="*{time}"
               name="Time">
    </div>
    <div class="mb-3">
        <label for="inputHowToHarvest2">Harvest</label>
        <input id="inputHowToHarvest2" type="number" class="form-control" th:field="*{how_to_harvest}"
               name="how_to_harvest">
    </div>
    <button th:text="${flower.getFID()} ? 'Update' : 'Save'" id="submit-button2" type="submit" ></button>
</form>

</body>
</html>