<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Flower Management Web Application</title>
  <link th:rel="stylesheet" th:href="@{/css/output.css}">
  <!-- <link th:rel="stylesheet" th:href=""> -->
  <!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
</head>
<body>
<div class="container">

  <h1 class="text-green-500 text-5xl">Flower Management</h1>

  <p><span th:text="${greeting}"></span></p>
  <button class="btn">Button</button>

</div>
</body>
</html>